<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

    <script type="text/javascript" th:src="@{/static/js/main.js}"></script>

    <!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

</head>
<body>
<!-- create navigation bar ( header) -->
<header th:insert="layout/general.html :: header"></header>
<div th:insert="modal.html :: update"></div>
<div th:insert="modal.html :: delete"></div>

<div class="container-fluid bg-light">
    <div class="row">
        <!--Left menu-->
        <div class="col-2 bg-white pt-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#" th:href="@{/admin/users}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/profile}">User</a>
                </li>
            </ul>
        </div>
        <!--Admin panel-->
        <div class="col-10 pt-3">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#users" role="tab"
                       aria-controls="users" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#newUser" role="tab"
                       aria-controls="newUser" aria-selected="false">New user</a>
                </li>
            </ul>

            <!--Table all users-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="pb-2 pl-4 pt-3 border">
                        <h3>All users</h3>
                    </div>

                    <div class="pt-3 pl-3 pr-3 bg-white border">
                        <table border="0" class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Email</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="tableData">
                            <tr th:each="user : ${users}" id="eventCount">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td>
                                    <table>
                                        <th:block th:each="role : ${user.roles}">
                                            <span th:text="${role.name}"></span><br/>
                                        </th:block>
                                    </table>
                                </td>
                                <td>
                                    <a th:href="@{rest/user/{id}(id=${user.id})}" class="btn btn-primary eBtn">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{rest/user/{id}(id=${user.id})}" class="btn btn-danger eBtnDelete">
<!--                                    <a th:href="@{/admin/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">-->
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Create new user panel-->
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                    <div class="pb-2 pl-4 pt-3 border">
                        <h3>New user</h3>
                    </div>

                    <div class="pt-3 pl-3 pr-3 bg-white border">
                        <div class="justify-content-center">
                            <form action="#" class="form-group" th:action="@{/admin/rest/user/}" modelAttribute="user"
                                  th:object="${user}" id="createUser"
                                  method="POST">

                                <p><input type="text" th:field="*{username}" name="username"
                                          placeholder="User Name" class="form-control mb-4 col-4"></p>

                                <p><input type="text" th:field="*{password}" name="password"
                                          placeholder="Password" class="form-control mb-4 col-4"></p>

                                <p><input type="text" th:field="*{lastName}" name="lastName"
                                          placeholder="User Last Name" class="form-control mb-4 col-4"></p>

                                <p><input type="text" th:field="*{email}" name="email"
                                          placeholder="User Email" class="form-control mb-4 col-4"></p>

                                <p><select id="editRoles" th:field="*{roles}" name="roles.id" multiple size="2" required
                                           class="form-control mb-4 col-4">
                                    <option th:each="initializeRoles:${rolesFromController}"
                                            th:value="${initializeRoles.getId()}"
                                            th:text="${initializeRoles.getName()}">
                                    </option>
                                </select></p>

                                <button type="submit" class="btn btn-success col-2">Add new user</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Send json to rest in submit from modal (put & delete)-->
<script>
    document.getElementById('createUser').addEventListener('submit', submitFormCreateUser);
    document.getElementById('deleteUser').addEventListener('submit', submitFormDeleteUser);

    function submitFormCreateUser(event) {
        event.preventDefault();

        let formData = new FormData(event.target);

        let obj = {};
        formData.forEach((value, key) => obj[key] = value);

        console.log(obj);

        let request = new Request(event.target.action, {
            method: 'POST',
            body: JSON.stringify(obj),
            headers: {
                'Content-Type': 'application/json',
            },
        });

        console.log(request);

        fetch(request).then(
            function(response) {
                console.log(response);
            },
            function(error) {
                console.error(error);
            }
        );

        console.log('?????? ????????????');
    }

    function submitFormDeleteUser(event) {
        event.preventDefault();

        let formData = new FormData(event.target);

        let obj = {};
        formData.forEach((value, key) => obj[key] = value);

        let request = new Request(event.target.action, {
            method: 'DELETE',
            body: JSON.stringify(obj),
            headers: {
                'Content-Type': 'application/json',
            },
        });

        console.log(request);

        fetch(request).then(
            function(response) {
                console.log(response);
            },
            function(error) {
                console.error(error);
            }
        )

        console.log('?????? ????????????');
        $('#exampleModalDelete').modal('hide');
    }
</script>
<!--<script>
    fetch("http://localhost:8080/admin/rest/users").then(
        res => {
            res.json().then(
                data => {
                    console.log(data);
                    if (data.length > 0) {
                        var temp = "";

                        data.forEach((user) => {
                            temp += "<tr>";
                            temp += "<td>" + user.id + "</td>";
                            temp += "<td>" + user.username + "</td>";
                            temp += "<td>" + user.lastName + "</td>";
                            temp += "<td>" + user.email + "</td>";
                            temp += "<td>" + user.email + "</td>";
                            temp += '<td>' +
                                '<a href="findOne/?id=' + user.id + '" class="btn btn-primary eBtn">' +
                                '<i class="bi bi-pencil-square"></i>' +
                                '</a></td>';
                            temp += "<td>" + user.email + "</td>";
                            temp += "</tr>";
                        });

                        console.log(temp);

                        document.getElementById("tableData").innerHTML = temp;

                        document.ready(function () {
                            $('.table .eBtn').on('click', function (event) {
                                event.preventDefault();
                                var href = $(this).attr('href');

                                $.get(href, function (user, status) {
                                    $('.myForm #id').val(user.id);
                                    $('.myForm #username').val(user.username);
                                    $('.myForm #lastName').val(user.lastName);
                                    $('.myForm #email').val(user.email);
                                })

                                $('.user #userProfile');
                            });
                        });
                    }
                }
            )
        }
    )


</script>-->

<!--Update user script-->
<!--<script type="text/javascript">
    $(document).ready(function () {
        $('.table .eBtn').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');

            $.get(href, function (user, status) {
                $('.myForm #id').val(user.id);
                $('.myForm #username').val(user.username);
                $('.myForm #lastName').val(user.lastName);
                $('.myForm #email').val(user.email);
            })

            $('.myForm #exampleModal').modal();
        });
    });
</script>-->


</body>
</html>